.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 1220px;
    display: flex;
    margin-top: 10px;
}

.header {
    width: 100%;
    position: sticky;
    top: 0; /* Sticks the header to the top */
    z-index: 1000; /* Ensure the header stays above other elements */
    background-color: #fff; /* Add background color to avoid overlapping */
}

.sidebar {
    margin-top: 10px;
    width: 250px; /* Set a fixed width for the sidebar */
    height: 100vh; /* Sidebar will take up the full height of the viewport */
    position: sticky;
    top: 100px; /* Makes it stick to the top as the user scrolls */
    overflow-y: auto; /* Allow the content to scroll if it overflows */
    overflow-x: auto; // Hide horizontal scrollbar
    // Scrollbar styling
    // Scrollbar styling
    &::-webkit-scrollbar {
        width: 4px; // Make the scrollbar slimmer
        height: 4px; // Set height for horizontal scrollbar
        background-color: #f0f0f0; // Set background color
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c0c0c0; // Set thumb color
        border-radius: 2px; // Round thumb corners
    }

    // Hide scrollbar when not hovering and not overflowing
    &:not(:hover):not(:target)::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}

.content {
    flex: 1; /* This allows the content to take up the remaining space */
    padding: 20px;
}
