.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 0px 1px rgb(0 0 0/ 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.text-logo {
    margin-left: 20px;
    h1 {
        font-size: 30px;
    }
}
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.4em;
    color: #bbbbbb;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.clear,
.loading {
    right: calc(52px + 16px);
    position: absolute;
    right: 52;
    top: 50%;
    transform: translateY(-50%);
    color: #bbbbbb;
}

.search {
    width: 550px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    position: relative;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: #828282;
        padding: 12px 0;
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 52px;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal-content {
    text-align: center;
}

.modal button {
    margin-top: 10px;
    padding: 13px 28px;
    border-radius: 4px;
    color: #fff;
    background-color: var(--primary);
    &:hover {
        opacity: 0.8;
    }
}
